
* {
    box-sizing: border-box;
    font-family: 'Gantari', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}


header {
    background: #011C50;
    /* position: relative; */
    position: fixed;
    align-items: center;
    padding: 10px;
    width: 100%;
    max-height: 80px;
    box-shadow: 0 0 10px 3px gold;
    z-index: 1000;
}

.header-container {
    /*  border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    margin: auto;
}

.logo-header {
    /*  border: 1px solid black; */
}

.logo-header img {
    width: 100%;
}

.nav-bar {
    /*  border: 1px solid black; */
}

.nav-bar a {
    font-family: 'Gantari', sans-serif;
    text-decoration: none;
    color: deepskyblue;
    margin-right: 1.5em;
    font-size: 1.9rem;
    font-weight: 400;
}

.nav-bar a:hover {
    border-bottom: 3px solid gold;
}

/* Style the body */

.main-container {
    width: 100vw;
    height: auto;
    background-image: url("../Imagens/Background-image-seta-degrade-transparent.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover
}

.secao-banner {
    max-width: 100%;
    max-height: 600px;
    /* background-image: url("../Imagens/Banner(1440x600).png"); */
    position: relative;
    top: 6em;
    bottom: 2em;
    filter: drop-shadow(2px 4px 10px gray)
}

.banner {
    filter: contrast(30%);
}

.titulo-banner {
    position: absolute;
    width: 100%;
    height: 170px;
    align-items: center;
    margin: -35em auto auto auto;
}

.titulo-banner h1 {
    font-family: 'Gantari', sans-serif;
    font-size: 7rem;
    font-style: normal;
    font-weight: 800;
    line-height: 61px;
    text-align: center;
    color: #011C50;
    text-shadow: 1px 1px 1px rgba(213, 165, 0, 0.6);
}

.titulo-banner p {
    font-size: 3.5rem;
    font-style: unset;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    color: #011C50;
    margin-top: .4em;
    text-shadow: 1px 1px 1px rgba(213, 165, 0, 0.6);
}


.container-apresentacao {
    display: block;
    max-width: 100%;
    padding:  0 20px;
    align-items: center;
    margin: -3em auto auto auto;
}

.artigo-apresentacao h1 {
    text-align: center;
    font-size: 3.8rem;
    color: darkblue;
    margin: 3em auto 1em auto;
    text-shadow: 1px 1px 2px gold;
}

.artigo-apresentacao {
    max-width: 90%;
    display: block;
    padding: 60px 0 60px 0;
    margin: auto auto auto auto;

}

.artigo-apresentacao p {
    max-width: 40%;
    display: inline-block;
    font-size: 1.9rem;
    margin-top: 4em;
    text-align: justify;
}

.foto-emprestimo {
    /* border: 1px solid black; */
    display: inline-block;
    max-width: 50%;
    height: 380px;
    float: right;
    border-radius: 10px;
    filter: drop-shadow(2px 4px 6px black);
    margin: 9.5em 3.5em auto auto;
}

.foto-emprestimo img {
    max-width: 100%;
    height: 350px;
    border-radius: 100px 100px 100px 10px;
}

.container-vantagens {
    display: flex;
    width: 100%;
    margin: 5em auto auto auto;
    padding: 20px 20px 0 20px;
    /*    border: 1px solid black;
    /*   border-bottom: 2px solid darkblue; */
    /*   background-image: linear-gradient(to right, rgba(0, 0, 139, 1 ), rgba(0, 0, 255, .8 ), rgba(0, 0, 255, .5 ), rgba(0, 0, 255, .3 ),
       rgba(255, 215, 0, .3 ), rgba(255, 215, 0, .3 ), rgba(255, 215, 0, .3 ),
       rgba(255, 215, 0, .5 ), rgba(255, 215, 0, .6), rgba(255, 215, 0, .8 )); */
}

.foto-aposentados {
    max-width: 40%;
    display: inline-block;
    margin: -1em auto auto 4em;
    background: transparent;
}

.foto-aposentados img {
    width: 100%;
    border-radius: 100px 10px 100px 100px ;
    filter: drop-shadow(2px 2px 10px black);
    /*  animation: spinner 1s linear infinite;
      transform: scale(1.1);*/

}

.check {
    /*  border: 1px solid black; */
    display: inline-block;
    width: 50%;
    margin: -1em 3em auto auto;
    position: initial;
    background: transparent;
}

.check li {
    /*   border: 1px solid black; */
    position: relative;
    display: block;
    padding: 5px;
    align-items: center;
    margin: auto 5em .3em auto;
}

.check li p {
    /*   border: 1px solid black; */
    color: #000099;
    font-size: 2.5rem;
    font-weight: 750;
    text-shadow: 1px 1px 1px gold;
    display: inline-flex;
    align-items: center;
    margin: auto;
}

.check li img {
    display: inline-flex;
    max-width: 50px;
    align-items: center;
    margin: auto .5em auto auto;
    background: transparent;
}

/*
.check img:hover {
    transform: scale(1.2);
}
*/
.check img:hover {
    transition-duration: 2s;
    animation: spinner 100ms linear ;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}


.secao-colunas {
    max-width: 88%;
    height: 450px;
    display: flex;
    margin: 10em auto auto auto;
    justify-content: space-between;
}

.coluna-consignado {
    display: inline-block;
    background-color: rgba(149, 211, 233, .1);
    max-width: 25%;
    max-height: 650px;
    margin: auto auto auto auto;
    padding: 20px 20px 60px 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 1px 1px 2px rgba(24, 24, 24, 0.3);
    filter: drop-shadow(0px 0px 0px black);
}

.coluna-consignado:hover {
    transform: scale(1.05);
    background-color: rgba(149, 211, 233, .3);
    box-shadow: 1px 1px 1px 2px rgba(24, 24, 24, 0.3);
}

.coluna-consignado img {
    display: block;
    margin: auto;
}

.coluna-consignado h3 {
    font-size: 1.8rem;
    color: darkblue;
    text-shadow: 1px 1px 1px gold;
}

.coluna-consignado p {
    font-size: 1.4rem;
    filter:none;
}

.coluna-consignado h3, p {
    margin-top: .5em;
}


/* Style the Form */

.formulario {
    display: block;
    background-color: #011C50;
    padding: 40px 0 60px 0;
    max-height: 700px;
}

.div-chamada-form {
    /* border: 2px solid rgba(1, 28, 80, 1);
    max-width: 390px;*/
    padding: 10px;
    border-radius: 90px;
    margin: auto auto 3em auto;
    /*  box-shadow: 0 0 4px 2px rgba(1, 28, 80, 1);
    background-color: rgba(255, 255, 255, 1) ; */
}

.div-chamada-form h3 {
    text-align: center;
    color: goldenrod;
    font-size: 3rem;
}
/* filter: drop-shadow(0 0 2px black);

.div-chamada-form:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0 2px #5F3AA2, 1px 1px 4px 4px rgba(1, 28, 80, .5);
    background-color: rgba(0, 191, 255, .4);
}*/


.logo-form {
    /*  border: 1px solid black;  */
    display: inline-block;
    max-width: 400px;
    max-height: 400px;
    margin: 7em 10em auto auto;
    float: right;
}

.logo-form img {
    /* border: 1px solid black; */
    width: 100%;
}


h1 {
    text-align: center;
    font-size: 1.5rem;
    filter: none;
}

.label-inputs {
    font-size: 1.4rem;
    font-weight: 600;
    color: gold;
}

[type="text"], [type="email"], [type="tel"] {
    margin-top: .4em;
    margin-bottom: -.5em;
    width: 100%;
    display: block;
    /* border: 2px solid rgba(1, 28, 80, 1); */
    border-radius: 8px;
    padding: 10px;
    /*  box-shadow: 0 0 2px 2px deepskyblue; */
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid deepskyblue;
    color: #011C50;
    font-weight: bold;
}

[type="text"]:hover, [type="email"]:hover, textarea:hover {
    /* filter: drop-shadow(2px 4px 6px black);
  /*  box-shadow: 0 0 0 2px #ffffff;
   border: 2px solid rgba(1, 28, 80, 1); */
}

input:focus, textarea:focus {
    outline: 0;
}

input:hover, textarea:hover {
    transform: scale(1.05);
    transition: 10ms;
}

#nome::placeholder, #email::placeholder, #telefone::placeholder,
#cpf::placeholder, #sobrenome::placeholder  {
    color: rgba(1, 28, 80, .4);
    font-weight: bold;
}

form {
    margin: auto auto auto 8em;
    max-width: 400px;
    border-radius: 30px;
    /* box-shadow: 0 0 1px 2px gold; */
    background-color: transparent;
}

form div {
    padding: 15px 15px 15px 15px;
    position: relative;
    filter: none;
}

.inputs {
    background: white;
}

.radio, .checkbox, .cor p {
    display: block;
    position: relative;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    color: #011C50;
}


[type="submit"] {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 20px;
    margin: .5em auto auto auto;
    padding: 8px;
    box-shadow: 0 0 6px 2px rgb(4, 227, 227);
    background: #011C50;
    color: aqua;
}


/* Style the footer */
footer {
    background-color: #011C50;
    padding: 20px;
    text-align: center;
    color: aqua;
    font-size: 1.5rem;
    width: 100%;
}